Project7/Connected Services/ServiceReference2/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="KwHValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numSolarPanels" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KwHValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KwHValueResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>