Project7/Connected Services/WeatherService/WeatherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WeatherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar25.fulton.asu.edu/Page4/WeatherService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar25.fulton.asu.edu/Page4/WeatherService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar25.fulton.asu.edu/Page4/WeatherService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AverageSunCalulation_InputMessage">
    <wsdl:part name="parameters" element="tns:AverageSunCalulation" />
  </wsdl:message>
  <wsdl:message name="IService_AverageSunCalulation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AverageSunCalulationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Weather5day_InputMessage">
    <wsdl:part name="parameters" element="tns:Weather5day" />
  </wsdl:message>
  <wsdl:message name="IService_Weather5day_OutputMessage">
    <wsdl:part name="parameters" element="tns:Weather5dayResponse" />
  </wsdl:message>
  <wsdl:message name="IService_NaturalHazards_InputMessage">
    <wsdl:part name="parameters" element="tns:NaturalHazards" />
  </wsdl:message>
  <wsdl:message name="IService_NaturalHazards_OutputMessage">
    <wsdl:part name="parameters" element="tns:NaturalHazardsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AverageSunCalulation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AverageSunCalulation" message="tns:IService_AverageSunCalulation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AverageSunCalulationResponse" message="tns:IService_AverageSunCalulation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Weather5day">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Weather5day" message="tns:IService_Weather5day_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Weather5dayResponse" message="tns:IService_Weather5day_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NaturalHazards">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/NaturalHazards" message="tns:IService_NaturalHazards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/NaturalHazardsResponse" message="tns:IService_NaturalHazards_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AverageSunCalulation">
      <soap:operation soapAction="http://tempuri.org/IService/AverageSunCalulation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Weather5day">
      <soap:operation soapAction="http://tempuri.org/IService/Weather5day" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NaturalHazards">
      <soap:operation soapAction="http://tempuri.org/IService/NaturalHazards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherService">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://webstrar25.fulton.asu.edu/Page4/WeatherService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>